@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 768px) {
	
	.headline {
		font-size: 1.7em;
		font-family: Roboto, serif;
		font-style:normal;
		font-weight:bold;
		color: white;
		padding-bottom: 20px;
	}

	.subheadline {
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		font-size: 1.3em;
		line-height: 1.2em;
		font-style: normal;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
		color: white;
	}

	.centerme {
		padding-top: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.headline {
		font-size: 60px;
		font-family: Roboto, serif;
		font-style:normal;
		font-weight:bold;
		color: white;
		padding-bottom: 25px;
	}

	.subheadline {
		font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		font-size: 35px;
		line-height: 35px;
		font-style: normal;
		font-weight: 800px;
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 20px;
		color: white;
	}
}

.title {
	text-align: center;
	padding-top: 20%;
}

.hamburger-menu {
	color: black;
}

.vertical-center {
	display: flex;
}

.body {
	margin-top: 5%;
	margin-bottom: 5%;
}

.bylines {
	padding-bottom: 50px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
}

p.byline-date {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}

p.byline {
	margin-bottom: 0;
	font-size: 14 px;
	text-decoration: underline;
	text-decoration-color: #c6252d;
	text-decoration-style: 2px 
}

a.byline-link {
	color: black;
	transition: .2s;
		transition-property: all;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		transition-delay: 0s;
	text-decoration: none;
		text-decoration-line: none;
		text-decoration-style: initial;
		text-decoration-color: initial;
	background-color: transparent;
}

p.subline {
	margin-top: 0;
	font-size: 12px;
	margin-bottom: 4px;
}

.article-text {
	font-family: Times New Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
	font-size: 18px;
	line-height: 26px;
}

span.dropcap {
	color:black;
	float: left;
	font-family: Times New Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 75px;
	line-height:60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

/* Images / Photos */

.big-image {
    padding-top: 30px;
    padding-bottom: 30px;
}

p.photo-caption {
	text-align: right;
	font-family: Lato, serif;
	color: black;
	font-size: 14px;
	padding-top:20px;
}

span.photo-credit {
	text-align: right;
	font-family: Lato, serif;
	color:gray;
	font-size:14px;
}


/* Donation Text and Button */

.h1-donation {
	border-bottom: 10px solid #C8262D;
	margin-bottom: 20px;
	font-family: 'Indie Flower', normal;
}

.donation-btn {
	color: white;
	background-color: black;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	border-radius: 0;
}

.donation-btn:hover {
	border-color: black;
	color: black;
	background-color: white;
}



.footer {
	bottom: 0;
	width: 100%;
	background-color: black;
	border-top: 10px solid #C6252D;
}



.p-donation {
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

.donation-link {
	color: black;
	text-decoration: underline black;
}
